.table-fixed thead {
  width: 100%;
}

.table-fixed tbody {
  height: 50vh;
  /*height: 240px;*/
  overflow: auto;
  width: 100%;
}

.table-fixed tbody {
  display: inline-grid;
}

.table-fixed thead, .table-fixed tr, .table-fixed td, .table-fixed th {
  /*display: inline-block;*/
  display: inline-block;
}

.table-fixed th {
  display: inline-block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
  float: left;
  border-bottom-width: 0;
}

.table-fixed table {
  border-collapse: collapse;
}

.table-fixed thead {
  background-color: #024D78;
  color: white;
}

button {
  background-color: #024D78;
  color: white;
}

.table-responsive thead {
  background-color: #024D78;
  color: white;
}
.table-responsive {
  margin: 2%;
}
