<div class="container">
  <h2>Users</h2>
  <hr>

  <table class="table table-fixed">
    <thead>
    <th class="col-4" scope="col">Gebruikersnaam</th>
    <th class="col-4" scope="col">Rol</th>
    <th class="col-4" scope="col">Verwijderen</th>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td class="col-4">{{ user.username }}</td>
        <td class="col-4">
          <select name="role" class="form-control" [disabled]="!canEdit" (change)="onRoleChanged(user, $event)">
            <option [selected]="getRole(user) == 'USER'" value="USER">Gebruiker</option>
            <option [selected]="getRole(user) == 'EMPLOYEE'" value="EMPLOYEE">Medewerker</option>
            <option [selected]="getRole(user) == 'SUPERUSER'" value="SUPERUSER">Superuser</option>
            <option disabled [selected]="getRole(user) == 'UNCLASSIFIED'" value="UNCLASSIFIED">Ongeverifieerd</option>
          </select>
        </td>
        <td class="col-4">
          <button class="btn btn-block btn-danger" [disabled]="!canEdit" (click)="onDelete(user)">Verwijder</button>
        </td>
      </tr>
      <!-- Fix hover over table items -->
    </tbody>
  </table>

  <div class="btn-group btn-toolbar save">
    <button class="btn" [disabled]="!canEdit" (click)="onSaveChanges()">Wijzigingen opslaan</button>
  </div>

</div>
