<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand"><img src="src/app/images/Logo.png" alt="TestlabOM" /></a>
  <div class="container-fluid">

    <div class="visible-lg-block, hidden-lg">
      <div *ngIf="condition1" [ngStyle]="myStyles" class="navbar-header">
        <div class="d-lg-none d-xl-none">

          <button class="btn btn-lg btn-outline-primary" (click)="toggleCollapse()" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span> </button>
          <!-- other navbar code omitted -->

        </div>
      </div>
    </div>

    <ul class="navbar-nav ml-auto">

      <li *ngIf="!loggedIn"><a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Registreer</a></li>
      <li *ngIf="!loggedIn"><a class="nav-link" routerLink="/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li *ngIf="loggedIn"><a class="nav-link" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>

</nav>
