<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="visible-lg-block, hidden-lg">
      <div *ngIf="condition1" [ngStyle]="myStyles" class="navbar-header">
        <div class="d-lg-none d-xl-none">

          <button class="btn btn-lg btn-outline-primary" (click)="toggleCollapse()" type="button"><span class="glyphicon glyphicon-menu-hamburger"></span> </button>
          <!-- other navbar code omitted -->

        </div>
      </div>
    </div>

    <ul class="nav navbar-nav navbar-right" >

      <li><a class="nav-link" routerLink="/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li>     <a class="nav-link" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li>     <a class="nav-link" (click)="logOut()"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
    </ul>
  </div>

</nav>



