<div class="container">
    <div class="row">
        <div class="col header-color">
            <p>{{fase}}</p>
        </div>
    </div>
    <div *ngIf= "sortDirection === 'asc'">
        <div class="row" *ngFor= 'let experiment of serverExperiments'>
            <div class="col my-col" *ngIf= "experiment.experiment_phase === faseCheck">
                <p><a routerLink="/ " routerLinkActive="active">{{experiment.experiment_name}}</a></p>
                <p class="ng-status" [ngStyle]="{'background-color': getColor(experiment.experiment_status)}">Status: {{experiment.experiment_status}}</p>
            </div>
        </div>
    </div>
</div>