.header-color{
    background-color: #024D78;
    color: white;
}

.ng-status{
    color: white;
    border-radius: 0.4em;
    margin: 0.5em;
    text-align: center;
}

.box{
    padding: 0.4em;
    border-radius: 15px;
    background-color: #A8D0E6;
}

.boxcontainer{
    margin: 1em;
    padding: 0.4em;;
    background-color: #F8E9A1;
    border-radius: 3px;
}

li{
    list-style: none;
}