.header-color{
    background-color: #024D78;
    color: white;
}

.ng-status{
    color: white;
    padding: 5px 10px;
    border-radius: 0.4em;
}

.my-col{
    border: 2px dotted red;

}

a{
    color: black;
}