.header-color{
    background-color: darkblue;
    color: white;
}

.my-col{
    padding: 0.7em;
    border: 3px solid darkblue;
}

.ng-status{
    color: white;
    padding: 0.7em;
    margin: 0.5em;
    width: 7.8em;
    border-radius: 0.4em;
}

a{
    color: black;
}