<!DOCTYPE html>
<html lang="nl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dashboard</title>
    </head>

    <body class="container con"> 
        <div class="row ro">
            <app-dashboard-list-container [fase]="'Idee fase'" [faseCheck]="'Idee'"></app-dashboard-list-container>
            <app-dashboard-list-container [fase]="'Lab-in fase'" [faseCheck]="'Het lab in'"></app-dashboard-list-container>
            <app-dashboard-list-container [fase]="'Lab-uit fase'" [faseCheck]="'Het lab uit'"></app-dashboard-list-container>
        </div>
    </body>
    
</html>
