html {
  height: 100vh;
  overflow-y: auto;
}

.leftnav {
  float: left;
  width:15vw;
  height:92vh;
  position: fixed;
  background-color: #e6e6e6;
  padding: 2% 2%;
}

.main {
  float: right;
  width: 80%;
  margin-right:2%;
  overflow-y: auto;
}

.no-nav {
  margin: 0;
  width: 100%;
  overflow-y: hidden;
  height: 92vh;
}
