


  <div class="container-fluid">
    <div class="row">
      <div class="col-3 col-sm-2 col-md-2 col-lg-1 col-xl-1">
     
          <nav *ngIf="show" class="nav navbar-light navbar-toggleable-sm" role="navigation">

       
            <ul class="nav navbar-nav">

              <li class="nav-item"><a routerLink="/">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
              <li class="nav-item"><a routerLink="/users">Gebruikers<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
              <li class="nav-item"><a routerLink="/dashboard">Dashboard<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-dashboard"></span></a></li>
              <li class="nav-item"><a routerLink="/experiment">Experimenten<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon glyphicon-th-list"></span></a></li>
            </ul>

          </nav>
      </div>
    </div>
  </div>
