.big_row {
  padding-left: 10px;
  padding-right: 10px;
}

.small_field {
  width: 250px;
  padding-left: 25px;
  padding-right: 25px;
}

.small_row {
  padding-left: 15px;
}

.log_table {
  padding-left: 10px;
  padding-right: 10px;
}

.small_one {
  padding-left: 10px;
  padding-right: 10px;
}

thead, tbody { display: block; }

tbody {
  height: 75px;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}




