



<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>


  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100">
        <h1>Registreer</h1>
        <form (submit)="registerUser($event)">
          <input type="text" placeholder="E-mail" id="email">
          <br>
          <input type="text" placeholder="Username" id="username">
          <br>
          <input type="text" placeholder="Password" id="password">
          <br>
          <input type="submit" value="Registreer">

        </form>
     
      </div>
    </div>
  </div>


</body>
</html>
